body {
    width: 100%;
    max-width: 960px;
    margin-left: 6%;
    background-color: transparent;
}

.body-blog {
    width: 590px;
    margin-left: 0%;
    background-color: transparent;
}

.page-content {
    float: left;
    width: 74%;
    padding-right: 3%;
}

.page-content-blog {
    width: 100%;
}

.page-sidebar {
    float: left;
    width: 22%;
    margin-top: 20px;
    padding-left: 6px;
    background-color: rgb(242, 241, 241);
}

.sidebar-title {
    font-family: KaiTi;
    font-size: 16px;
    font-weight: bold;
    /* color: brown; */
}

.sidebar-label {
    font-family: SimSun;
    font-size: 14px;
}

.sidebar-post {
    font-family: SimSun;
    font-size: 12px;
    line-height: 1.5;
    margin-left: -12px;
}

.sidebar-post-english {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 1.5;
    margin-left: -12px;
}

.sidebar-post a,
.sidebar-post-english a,
.intro-label a {
    text-decoration: none;
}

.sidebar-post a:hover,
.sidebar-post-english a:hover {
    background-color: yellow;
    text-decoration: underline;
}

.intro {
    float: left;
    width: 42%;
    margin-top: 20px;
    margin-left: 4%;
}

.intro-label {
    font-family: SimSun;
    font-size: 14px;
    line-height: 1.5;
    list-style-type: circle;
    text-indent: 4px;
}

.intro-label li:hover {
    background-color: yellow;
}

.blog {
    width: 100%;
    font-family: KaiTi;
    font-size: 16px;
    text-indent: 32px;
    color: black;
    margin-bottom: 50px;
}

.blog-english {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    /* text-indent: 32px; */
    color: black;
    margin-bottom: 50px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    font-family: SimSun;
    text-align: center;
    text-indent: 0px;
    color: #800000;
}

.sub-title {
    font-weight: bold;
    font-size: 20px;
    font-family: SimSun;
    text-align: center;
    text-indent: 0px;
    color: rgb(2, 130, 150)
}

.english-color {
    color: brown;
}

.chinese-color {
    color: darkgreen;
}

.sub-title2 {
    font-weight: bold;
    font-size: 16px;
    font-family: SimSun;
    color: rgb(2, 130, 150)
}

.date {
    font-size: 10pt;
    color: #999999;
    text-align: center;
    text-indent: 0px;
}

.noindent {
    text-indent: 0px;
    font-size: 14px;
    color: blue;
}

.blue-text {
    color: rgb(0, 33, 176);
}


.intro-text {
    font-family: SimSun;
    font-size: 16px;
    text-indent: 32px;
    color: darkblue;
}

img.title {
    float: right;
    height: 60px;
    border-style: hidden;
}

img.index {
    width: 100%;
}

.note {
    color: grey;
    font-size: 12px;
}

.date-title {
    font-family: Times;
    font-size: 16px;
    font-weight: bold;
}

.quote {
    font-family: SimSun;
    font-size: 14px;
}

.latin {
    font-family: Times;
}

.simsun-text {
    font-family: SimSun;
    font-size: 16px;
    text-indent: 32px;
}

.ref {
    font-size: 17px;
    color: blue;
}

.link {
    font-size: 10px;
}

span.quote {
    font-family: SimSun;
    font-size: 16px;
    color: blue;
}

.tile-date {
    font-size: 10pt;
    color: #999999;
}

.image-left {
    display: inline;
    float: left;
    margin: 4px 20px 0px 8px;
    border: 0px;
}

.image-right {
    display: inline;
    float: right;
    margin: 4px 8px 0px 20px;
    border: 0px;
}

.image-center {
    display: block;
    margin: 6px auto 20px auto;
    border: 0px;
}

ol.list {
    margin-left: 24px;
    text-indent: 0px
}

.gen-code {
    font-family: Times;
    font-size: 16px;
    color: darkgrey;
    cursor: pointer;
}

.no-show {
    display: none;
}

.code-table {
    width: 280%;
    font-size: 14px;
    display: none;
}

.footer-invisible {
       display: none !important; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    margin-left: 6%;
    height: 36px;
    color: white;
    text-align: center;
    padding-bottom: 12px;
    background-color: rgb(68, 68, 68);
    opacity: 0.5;
    display: block !important;
}

.page-links {
    cursor: pointer;
    padding-right: 20px;
    color: white;
}

.top-btn {
    margin-left: 900px;
    margin-top: -40px;
    font-size: 36px;
    background-color: rgb(68, 68, 68);
    color: darkcyan;
    cursor: pointer;
}

#progress-container {
    width: 30%;
    max-width: 70px;
    margin-top: -45px;
    margin-left: 85%;
    display: none;
    text-align: center;
}

.spinner {
    width: 26px;
    height: 26px;
    border: 4px solid #ccc;
    border-top: 4px solid #4caf50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}